<mdc-card fxFill>
  <mdc-card-media class="chat-content">
    <mdc-card fxFill>
      <mdc-card-primary>
        <mdc-card-title [large]="false">Messages</mdc-card-title>
      </mdc-card-primary>
      <mdc-card-media class="chat-content">
        <app-chats-list [groupId]="groupId" appScrollableList appInfiniteScrollUp [loadNewObservable]="getRefreshObservable()" [scrollPercentage]="40"></app-chats-list>
        <app-chat-send [groupId]="groupId"></app-chat-send>
        <div class="type-status">{{statusText}}</div>
      </mdc-card-media>
    </mdc-card>
  </mdc-card-media>
</mdc-card>