$mdc-theme-primary: #F44336;
$mdc-theme-secondary: #009688;
$mdc-theme-background: #fff;
@import "~@angular-mdc/theme";
@import 'node_modules/angular2-toaster/toaster';
.mdc-padding {
  padding: 7px !important;
}

@import "~select2/src/scss/core";
